<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.home.title">Payment Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-group" [routerLink]="['/payment-group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.home.createLabel">
            Create new Payment Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="paymentGroups">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.name">Name</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.startDate">Start Date</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.endDate">End Date</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.ongoing">Ongoing</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.settled">Settled</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.author">Author</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.paymentGroup.member">Member</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentGroup of paymentGroups ;trackBy: trackId">
                <td><a [routerLink]="['/payment-group', paymentGroup.id, 'view' ]">{{paymentGroup.id}}</a></td>
                <td>{{paymentGroup.name}}</td>
                <td>{{paymentGroup.startDate | date:'medium'}}</td>
                <td>{{paymentGroup.endDate | date:'medium'}}</td>
                <td>{{paymentGroup.ongoing}}</td>
                <td>{{paymentGroup.settled}}</td>
                <td>
                    <div *ngIf="paymentGroup.author">
                        <a [routerLink]="['../member', paymentGroup.author?.id, 'view' ]" >{{paymentGroup.author?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let member of paymentGroup.members; let last = last">
                            <a class="form-control-static" [routerLink]="['../member', member?.id, 'view' ]">{{member.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payment-group', paymentGroup.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-group', paymentGroup.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-group/'+ paymentGroup.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
