<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bill">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.bill.detail.title">Bill</span> {{bill.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bill.description">Description</span></dt>
                <dd>
                    <span>{{bill.description}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bill.amount">Amount</span></dt>
                <dd>
                    <span>{{bill.amount}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bill.paymentDate">Payment Date</span></dt>
                <dd>
                    <span>{{bill.paymentDate}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bill.mutationId">Mutation Id</span></dt>
                <dd>
                    <span>{{bill.mutationId}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bill.owner">Owner</span></dt>
                <dd>
                    <div *ngIf="bill.owner">
                        <a [routerLink]="['/member', bill.owner?.id, 'view']">{{bill.owner?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.bill.paymentGroup">Payment Group</span></dt>
                <dd>
                    <div *ngIf="bill.paymentGroup">
                        <a [routerLink]="['/payment-group', bill.paymentGroup?.id, 'view']">{{bill.paymentGroup?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bill', bill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
