<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.member.home.title">Members</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member" [routerLink]="['/member/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.member.home.createLabel">
            Create new Member
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="members">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.name">Name</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.iban">Iban</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.mobile">Mobile</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.platformToken">Platform Token</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.userToken">User Token</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.bankAccountToken">Bank Account Token</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.user">User</span></th>
            <th><span jhiTranslate="jhipsterSampleApplicationApp.member.member">Member</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of members ;trackBy: trackId">
                <td><a [routerLink]="['/member', member.id, 'view' ]">{{member.id}}</a></td>
                <td>{{member.name}}</td>
                <td>{{member.iban}}</td>
                <td>{{member.mobile}}</td>
                <td>{{member.platformToken}}</td>
                <td>{{member.userToken}}</td>
                <td>{{member.bankAccountToken}}</td>
                <td>
                    {{member.user?.id}}
                </td>
                <td>
                    <div *ngIf="member.member">
                        <a [routerLink]="['../member', member.member?.id, 'view' ]" >{{member.member?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/member', member.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member', member.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'member/'+ member.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
